body,html {
  font-family: system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#graphic-container {
  position: relative;
  margin: 0 auto;
  height: 2500px;
  max-width: 720px;
  min-width: 360px;
}

.mode_label {
  text-anchor: middle;
  font-weight: 600;
}

.nameLabel {
  font-size: 11px;
  text-anchor: end;
}

.countLabel {
  font-size: 11px;
  fill: none;
}

.breakline {
  stroke: gray;
  stroke-width: 0.1;
}
